html, body {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-nav .nav-link{
  margin-left: 40px;
  color: #626262 !important;
 


}

.navbar{
   box-shadow: 2px 1px 2px #eee;
}
.account-table {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.account-table thead tr {
  border-bottom: 1px solid #e0e0e0;
}

.account-table thead th {
  font-weight: 600;
  padding: 16px;
  background-color: #fff;
  color: #424242;
}

.account-table td {
  padding: 16px;
  color: #424242;
  vertical-align: middle;
}

/* Zebra rows */
.account-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* Remove body borders only */
.account-table tbody td {
  border-bottom: none;
}

.badge.bg-success {
  background-color: #4caf50 !important;
  font-size: 12px;
  padding: 6px 10px;
}
.support-title {
  font-size: 34px;
  font-weight: 600;
  color: #424242;
}

.my-tickets-btn {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
}

.support-search {
  position: relative;
}

.search-input {
  height: 50px;
  width: 90%;
  padding-left: 48px;
  font-size: 16px;
  border-radius: 6px;
  
}

.search-input::placeholder {
  color: #9e9e9e;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #9e9e9e;
}
.custom-dropdown {
  list-style-type: disc;
  padding-left: 2rem;
}

.custom-dropdown .dropdown-item {
  display: list-item;
  padding-left: 0.5rem;
}
.dropdown-item{
  color:#397dd0;
  font-size:14px;
}
@media (max-width: 576px) {
  .container{
    
  
  }
  .hero-img{
    margin-bottom: 45px;
    height: auto;
    width: 372px;
    
  }
  .hero-sign {
    width: 100%;
    max-width: 220px;
  }
  .navbar{
    width: 100%;
    height: auto;
  }
  .pricing{
    width: 45% !important;
  }
  .table{
    width: 100% !important;
  }
}
